# Node
node_modules/
.next/
dist/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/
venv/

# Entornos/secretos
.env
.env.*

# Logs
*.log

# DB local
pgdata/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
