# Configuración de Base de Datos
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=simfut_db
POSTGRES_PORT=5432

# URL de conexión para scripts y backend
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}

# Puertos de la aplicación
BACKEND_PORT=8000
FRONTEND_PORT=3000
